@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
}
hr {
  margin-top: 250px;
}
.text-edit {
  overflow: visible !important;
  min-height: 300px;
}
.text-edit:hover {
  background-color: transparent !important;
}
.color-wrapper {
  position: relative;
  top: 0;
}
.chrome-picker {
  position: absolute;
  top: 35px;
}
.sketch-picker {
  position: relative;
  bottom: 305px;
  left: 45px;
}
